<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 6M</title>
</head>

<body>
    <div class="card">
        <h1 style="color: #ce7278;">สุขสันต์วันครบรอบ 7 เดือนนะ</h1>
        <br>
        <div class="text">
            <p>
                สำหรับเดือนนี้เค้าอยากจะบอกเทอว่า ขอโทษนะทีเค้าทำตัวไม่ดีดูเหือนไม่รักเทอแล้ว ขอโทษที่บ้างครั้งเค้าทำร้องไหร้เสียใจ
                เค้าก็ไม่รู้เหมือนกันว่าเค้าเป็นอะไรแต่เค้ารส.กับเทอไม่เหมือนเดิมแล้วอ่ามันเปลี่ยนไปอะ เค้าเองก็บอกไม่ถูกอ่า 
                แต่เค้ายังรักเทออยุ่นะค้าบ รักมากด้วย รักที่สุดเลยด้วย เค้าขออะไรเทอหน่อยได้ไหมค้าบ ช่วยอยู่กับเค้าไปเลื่อยๆได้ไหม เค้าอยากมีเทอไปอีกนานๆอ่าา เทอยังอยากอยู่กับเค้าอยู่ไหมค้าบบ😟
                ช่วงนี้เราทะเลาะกันบ่อยนะค้าบบ เค้ากลัวมากนะว่าจะเสียเทอไปอะ เทอจะไม่ไปใช่ไหมอ่าาา😟
            </p>
            <br>
            <br>
            <p class="muted">- Yuki -</p>
        </div>
        <img src="../img/stiker.gif" alt="ILOVEYOU">
    </div>
    <script src="../js/autoplay.js"></script>
</body>

</html>